<div class="pre-loader">
	<div class="pre-loader-box">
		<center>
			<div class="loader-logo"><img src="{{url}}/src/images/logo-dark.png" alt="" width="50%"></div>
		</center>
		<div class='loader-progress' id="progress_div">
			<div class='bar' id='bar1'></div>
		</div>
		<div class='percent' id='percent1'>0%</div>
		<div class="loading-text">
			Yuklanmoqda...
		</div>
	</div>
</div>