<div class="user-info-dropdown">
    <div class="dropdown">
        <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" style="">
                {{#if data.user.image}}
                    <span class="user-icon">
                        <img src="{{url}}/uploads/{{data.user.image}}" alt="">
                    </span>
                {{else}}
                        <i class="icon-copy fa fa-user-circle" aria-hidden="true" style="font-size: 250%;" ></i>
                {{/if}}
            
            <span class="user-name">{{data.user.name}}</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
            <a class="dropdown-item" href="/dashboard/profile"><i class="dw dw-user1"></i> Profilim</a>
            <a class="dropdown-item" href="/"><i class="dw dw-settings2"></i> Sozlamalar</a>
            <a class="dropdown-item" href="/"><i class="dw dw-help"></i> Yordam</a>
            <a class="dropdown-item" href="/logout"><i class="dw dw-logout"></i> Chiqish</a>
        </div>
    </div>
</div>