	<!-- footer part here -->
    <footer class="footer_section">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-3 col-sm-6">
                    <div class="single_feature_footer">
                        <a href="index.html"><img src="{{url}}/images/logo.png" alt="#" width="142px"></a>
                        <p>English Ninja mutaxasislari bilan tijoriy maqsadlarda yoki fikr-mulohazalaringizni qoldirish uchun pastdagi havolalar orqali bog'lanishingiz mumkin.</p>
                        <div class="footer_contact_info">
                            <a href="tel:+998901427395"><i class="icon_phone"></i>+998901427395</a>
                            <a href="mailto:education@example.com"><i class="icon_mail_alt"></i>inteacher@gmail.com</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_feature_footer footer_nav">
                        <h4>Mashxur kurslar</h4>
                        <ul>
                            <li><a href="course-details.html">Matematika</a></li>
                            <li><a href="course-details.html">Arab tili</a></li>
                            <li><a href="course-details.html">Ingliz tili</a></li>
                            <li><a href="course-details.html">Kiberxavfsizlik</a></li>
                            <li><a href="course-details.html">Dasturlash</a></li>
                            <li><a href="course-details.html">SMM</a></li>
                        </ul>
                    </div>
                </div>         
                <div class="col-lg-3 col-sm-6">
                    <div class="single_feature_footer footer_nav">
                        <h4>Kurslar kategoriyasi</h4>
                        <ul>
                            <li><a href="course-details.html">Matematika</a></li>
                            <li><a href="course-details.html">Arab tili</a></li>
                            <li><a href="course-details.html">Ingliz tili</a></li>
                            <li><a href="course-details.html">Kiberxavfsizlik</a></li>
                            <li><a href="course-details.html">Dasturlash</a></li>
                            <li><a href="course-details.html">SMM</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="single_feature_footer footer_nav">
                        <h4>Tezkor havolalar</h4>
                        <ul>
                            <li><a href="#">Jonli dars</a></li>
                            <li><a href="#">To'lov tizimi</a></li>
                            <li><a href="#">Foydalanish shartlari</a></li>
                            <li><a href="#">Maxfiylik siyosati</a></li>
                            <li><a href="#">Qo'llab-quvvatlash</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="copyright_part">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-8">
                                <p>© Copyright 2023 Design by <a href="#" class="text_underline">MhrTheme.</a> All rights reserved.</p>
                            </div> 
                            <div class="col-lg-6 col-md-4">
                                <div class="social_icon">
                                    <a href="#"><i class="social_facebook"></i></a>
                                    <a href="#"><i class="social_twitter"></i></a>
                                    <a href="#"><i class="social_youtube"></i></a>
                                    <a href="#"><i class="social_linkedin"></i></a>
                                    <a href="#"><i class="social_skype"></i></a>
                                    <a href="#"><i class="social_instagram"></i></a>
                                    <a href="#"><i class="social_pinterest"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img src="{{url}}/images/page/home1/icon/shape_01.png" alt="#" class="footer_sharp_1">
        <img src="{{url}}/images/page/home1/icon/about_shape_02.png" alt="#" class="footer_sharp_2 custom-animation2">
        <img src="{{url}}/images/page/home1/icon/about_shape_03.png" alt="#" class="footer_sharp_3 custom-animation3">
    </footer>
    <!-- footer part end -->