


    <link rel="icon" href="src/pages/courses/img/favicon.png" type="image/png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="src/pages/courses/css/bootstrap.min.css"/>
    <!-- animate CSS -->
    <link rel="stylesheet" href="src/pages/courses/css/animate.css"/>
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="src/pages/courses/vendors/elegant_Icon/elegent_icon.css"/>
    <!-- nice select CSS -->
    <link rel="stylesheet" href="src/pages/courses/vendors/niceselect/css/nice-select.css"/>
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="src/pages/courses/vendors/owl_carousel/css/owl.carousel.css"/>
    <!-- magnific popup CSS -->
    <link rel="stylesheet" href="src/pages/courses/vendors/magnify_popup/magnific-popup.css"/>
    <!-- Countdown CSS -->
    <link rel="stylesheet" href="src/pages/courses/vendors/countdown/css/Countdown.css"/>
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="src/pages/courses/css/flaticon.css"/>
    <!-- aos CSS -->
    <link rel="stylesheet" href="src/pages/courses/vendors/aos/aos.css"/>
    <!-- course CSS -->
    <link rel="stylesheet" href="src/pages/courses/css/courses.css"/>
    <!-- style CSS -->
    <link rel="stylesheet" href="src/pages/courses/style.css"/>


    {{> headers/header}}




    <!-- event part here -->
    <section class="event_list section_padding">
        <div class="container">
            <div class="row justify-content-center" data-aos="fade-up"
            data-aos-duration="1200">
                <div class="col-lg-6">
                    <div class="section_tittle">
                        <h2>Oxirgi yangiliklar:</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <script async src="https://telegram.org/js/telegram-widget.js?22" data-telegram-post="UBTUIT_official/8745" data-width="100%"></script>
                    <script async src="https://telegram.org/js/telegram-widget.js?22" data-telegram-post="UBTUIT_official/8749" data-width="100%"></script>
                    <script async src="https://telegram.org/js/telegram-widget.js?22" data-telegram-post="UBTUIT_official/8748" data-width="100%"></script>
                                    
                </div>
            </div>
        </div>
    </section>
    <!-- event part end -->

    <!-- Start LTR & RTL Button -->
	<div class="ltr-rtl-button">
		<a class="default-btn active ltr">
		    LTR
		</a>
		<a class="default-btn rtl">
		    RTL
		</a>
	</div>
	<!-- End LTR & RTL Button -->

    {{> footers/footer1}}




       <!-- jquery slim -->
    <script src="src/pages/news/js/jquery-3.4.1.min.js"></script>
    <!-- popper js -->
    <script src="src/pages/news/js/popper.min.js"></script>
    <!-- bootstarp js -->
    <script src="src/pages/news/js/bootstrap.min.js"></script>
    <!-- nice select -->
    <script src="src/pages/news/vendors/niceselect/js/jquery.nice-select.min.js"></script>
    <!-- owl carousel js -->
    <script src="src/pages/news/vendors/owl_carousel/js/owl.carousel.min.js"></script>
    <!-- magnify popup js -->
    <script src="src/pages/news/vendors/magnify_popup/jquery.magnific-popup.js"></script>
    <!-- simplyCountdown js -->
    <script src="src/pages/news/vendors/countdown/js/simplyCountdown.min.js"></script>
    <!-- counter js -->
    <script src="src/pages/news/vendors/counter/jquery.countTo.js"></script> 
    <!-- aos js -->    
    <script src="src/pages/news/vendors/aos/aos.js"></script>
    <!-- font awesome js -->
    <script src="https://kit.fontawesome.com/6ee3230338.js"/></script>
    <!-- custom js -->
    <script src="src/pages/news/js/custom.js"></script>

