	<div class="right-sidebar">
		<div class="sidebar-title">
			<h3 class="weight-600 font-16 text-blue">
                Interfeys sozlamalari
			</h3>
			<div class="close-sidebar" data-toggle="right-sidebar-close">
				<i class="icon-copy ion-close-round"></i>
			</div>
		</div>
		<div class="right-sidebar-body customscroll">
			<div class="right-sidebar-body-content">
				<h4 class="weight-600 font-18 pb-10">Header Orqa foni</h4>
				<div class="sidebar-btn-group pb-30 mb-10">
					<a href="javascript:void(0);" class="btn btn-outline-primary header-white active">Kunduzgi</a>
					<a href="javascript:void(0);" class="btn btn-outline-primary header-dark">Tungi</a>
				</div>

				<h4 class="weight-600 font-18 pb-10">Menu Orqa foni</h4>
				<div class="sidebar-btn-group pb-30 mb-10">
					<a href="javascript:void(0);" class="btn btn-outline-primary sidebar-light ">Kunduzgi</a>
					<a href="javascript:void(0);" class="btn btn-outline-primary sidebar-dark active">Tungi</a>
				</div>
                
			</div>
		</div>
	</div>